name: Validate

on:
  pull_request:
    branches: [master]

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Validate Pull Request Title
        uses: amannn/action-semantic-pull-request@v4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Validate commit messages
        uses: wagoid/commitlint-github-action@v4

      - name: Setup PHP with PECL extension
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.2"
          # Hentet liste med extensions fra https://github.com/kirschbaum-development/laravel-test-runner-container/blob/master/8.1/Dockerfile
          extensions: mbstring, mysql, xml, xsl, zip, curl, bcmath, intl, bz2

      - name: Install composer dependencies
        run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist

      - name: Validate
        run: composer verify

      - name: Generate coverage
        run: php vendor/bin/php-coveralls
